<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/foundation/normalize.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/foundation/foundation.mvc.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/foundation/foundation.css")" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/select2/3.4.1/select2.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/foundation/app.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/font-awesome.css")" />


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/select2/3.4.1/select2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.js"></script>
</head>

<body class="f-topbar-fixed">

    <div class="fixed">
        <nav id="top-nav" class="top-bar" data-options="is_hover:false">
            <div>
                <ul class="title-area">
                    <li class="name">
                        <h1>
                            <a href="@Url.Action("Index", "Home")">
                                AMF
                            </a>
                        </h1>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div id="main">

        <div class="columns large-2" id="side-nav">

            <div class="section-container">
                <section class="active">
                    <p class="title" data-section-title="">
                        <a href="#" class="real">
                            <i class="fa fa-gear">
                                Tableau de bord
                            </i>
                        </a>
                    </p>
                    <div class="content" data-section-content="">
                        <ul class="side-nav">
                            <li>
                                <a href="@Url.Action("Index", "News")">
                                    <i class="fa fa-list"></i>
                                    Nouvelles
                                </a>
                            </li>                            
                            <li>
                                <a href="@Url.Action("Index", "History")">
                                    <i class="fa fa-list"></i>
                                    Histoire et Monde
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Context", "History")">
                                    <i class="fa fa-list"></i>
                                    Contexte 2015
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "System")">
                                    <i class="fa fa-list"></i>
                                    Système
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("About", "Home")">
                                    <i class="fa fa-list"></i>
                                    À Propos
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>

        </div>

        <div class="columns large-10">
            @RenderBody()
        </div>

    </div>
    <script>
    </script>
</body>

</html>